<a href="https://colab.research.google.com/github/chiragpatel-16/pandas_matplotlib/blob/master/work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
people={'first':['chirag','ramesh','joshep'],
         'last': ['pate','mishra','mishra'],
        'email':['cb@gmail.com', 'ra@gmail.com','jo@gmail.com']}

In [0]:
people

{'first': ['chirag', 'ramesh', 'joshep'],
 'last': ['pate', 'mishra', 'mishra'],
 'email': ['cb@gmail.com', 'ra@gmail.com', 'jo@gmail.com']}

In [0]:
people['email']

['cb@gmail.com', 'ra@gmail.com', 'jo@gmail.com']

In [0]:
from pandas import *
dfp=DataFrame(people)

In [0]:
dfp

    first    last         email
0  chirag    pate  cb@gmail.com
1  ramesh  mishra  ra@gmail.com
2  joshep  mishra  jo@gmail.com

In [0]:
type(dfp)
##type(dfp['first_name'])

pandas.core.frame.DataFrame

In [0]:
dfp['last']

0      pate
1    mishra
2    mishra
Name: last, dtype: object

In [0]:
dfp[['first','last']]

    first    last
0  chirag    pate
1  ramesh  mishra
2  joshep  mishra

In [0]:
dfp.columns

Index(['first', 'last', 'email'], dtype='object')

In [0]:
dfp

    first    last         email
0  chirag    pate  cb@gmail.com
1  ramesh  mishra  ra@gmail.com
2  joshep  mishra  jo@gmail.com

In [0]:
dfp.columns=['first_name','last_name','email_id']

In [0]:
dfp

  FIRST_NAME LAST_NAME      EMAIL_ID
0       crp1   patelll  abd@gmai.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.loc[[0,1],'EMAIL_ID']

0    abd@gmai.com
1    ra@gmail.com
Name: EMAIL_ID, dtype: object

In [0]:

dfp.loc[:]['last_name']

0      pate
1    mishra
2    mishra
Name: last_name, dtype: object

In [0]:
dfp.iloc[[0,1],[0]]

  first_name
0     chirag
1     ramesh

In [0]:
dfp.iloc[0:3,1:3]

  last_name      email_id
0      pate  cb@gmail.com
1    mishra  ra@gmail.com
2    mishra  jo@gmail.com

In [0]:

dfp.index

RangeIndex(start=0, stop=3, step=1)

In [0]:
dfp.set_index('email_id')

             first_name last_name
email_id
cb@gmail.com     chirag      pate
ra@gmail.com     ramesh    mishra
jo@gmail.com     joshep    mishra

In [0]:
dfp=dfp.rename(columns={'email_id':'email'})

In [0]:
dfp

  first_name last_name         email
0     chirag      pate  cb@gmail.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
filt=((dfp['last_name']=='mishra')&(dfp['first_name']=='ramesh'))

In [0]:
am=dfp.loc[filt,'email']
am

1    ra@gmail.com
Name: email, dtype: object

In [0]:
import os
os.getcwd()
am.to_csv('amf.csv')

In [0]:
dfp

In [0]:
dfp.columns

In [0]:
dfp.columns=['Firstname','Lastname','emailid']

In [0]:
dfp

In [0]:
dfp.columns=[x.upper() for x in dfp.columns]

In [0]:
dfp

  FIRST_NAME LAST_NAME         EMAIL
0     chirag      pate  cb@gmail.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.columns=['First name','last name','email id']
dfp

  First name last name      email id
0     chirag      pate  cb@gmail.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.columns=[x.upper() for x in dfp.columns]

In [0]:
dfp

  FIRST NAME LAST NAME      EMAIL ID
0     chirag      pate  cb@gmail.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.columns=dfp.columns.str.replace(' ','_')

In [0]:
dfp

  FIRST_NAME LAST_NAME      EMAIL_ID
0     chirag      pate  cb@gmail.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.columns=[x.lower() for x in dfp.columns]

In [0]:
dfp

In [0]:
dfp.loc[0]

FIRST_NAME          chirag
LAST_NAME             pate
EMAIL_ID      cb@gmail.com
Name: 0, dtype: object

In [0]:
dfp.loc[0]=['patel','crp','abd@gmai.com']

In [0]:
dfp

  FIRST_NAME LAST_NAME      EMAIL_ID
0      patel       crp  abd@gmai.com
1     ramesh    mishra  ra@gmail.com
2     joshep    mishra  jo@gmail.com

In [0]:
dfp.loc[0]

FIRST_NAME           patel
LAST_NAME              crp
EMAIL_ID      abd@gmai.com
Name: 0, dtype: object

In [0]:
dfp=dfp.set_index('first',inplace=True)
dfp

KeyError: "None of ['first'] are in the columns"

In [0]:
dfp.loc[0, ['LAST_NAME','first_name']]= ['patelll','crp1']

LAST_NAME     patelll
FIRST_NAME       crp1
Name: 0, dtype: object

In [0]:
dfp

In [0]:
f1=(dfp['email_id']=='abd@gmai.com')
dfp.loc[f1,'last_name']=['PATEL']
dfp

KeyError: 'email_id'

In [0]:
dfp.loc[0,'email_id']='abd@gmail.com'

In [0]:
dfp

In [0]:
fp=dfp['first_name']=='ramesh'
dfp.loc[fp,['email_id']]='ramesh@gmail.com'

In [0]:
dfp

In [0]:
dfp['last_name']= dfp['last_name'].str.upper()

In [0]:
dfp

In [0]:
dfp['email_id'].apply(len)

In [0]:
dfp['first_name']=dfp['first_name'].apply(lambda a: a.upper())

In [0]:
dfp

In [0]:
dfp.apply(len, axis='columns') ##  apply on each every element of  series not entire df mostly numeric analyasis

In [0]:
dfp.apply(Series.max)

In [0]:
dfp.apply(lambda a:a.max())

In [0]:
dfp.applymap(len)  ## apply to each and every individual element of dataframe, used in numpy(numeric)

In [0]:
dfp.applymap(str.upper)

In [0]:
dfp['first_name'].map({'CRP1':'CRP11' ,'JOSHEP':'JOSH'}) ## on series for substitue each new value, NAN:not a number

In [0]:
dfp['first_name']=dfp['first_name'].replace({'CRP1':'CRP11' ,'JOSHEP':'JOSH'})

In [0]:
dfp

In [0]:
dfp['full_name']=dfp['first_name']+ ' '+dfp['last_name']

In [0]:
dfp

In [0]:
dfp.drop(columns=['first_name','last_name'], inplace=True)

In [0]:
dfp['full_name'].str.split(" ",expand=True)

In [0]:
dfp[['first_name','last_name']]=dfp['full_name'].str.split(" ",expand=True)

In [0]:
dfp

In [0]:
dfp.to_excel('data/newp.xls')
dfp.to_json('data/newj.json')

In [0]:
dfp.append({'first_name':'Tony'},ignore_index=True)

In [0]:
ad={'gender':'f','gender':'m','gender':'f','gender':'m'}

In [0]:
dfp.loc[0:2,'gender']=['f','m','m']

In [0]:
dfp

  FIRST_NAME LAST_NAME      EMAIL_ID gender
0       crp1   patelll  abd@gmai.com      f
1     ramesh    mishra  ra@gmail.com      m
2     joshep    mishra  jo@gmail.com      m

In [0]:
dfp=dfp.drop(0,axis=0)

KeyError: '[0] not found in axis'

In [0]:
dfp

In [0]:
dfp=dfp.append({'email_id':'aasd@gmail.cm','full_name':'crpatel','first_name':'chirag','last_name':'patel','gender':'m'},ignore_index=True)

In [0]:
dfp

In [0]:
dfp['email_id'].sort_values()

In [0]:
dfp.sort_values(by= ['last_name','email_id'] ,ascending=(False,True),inplace=True)

In [0]:
dfp

In [0]:
dfp.sort_index()

In [0]:
import numpy as np
from pandas import *

In [0]:
emp={'ename':['r',np.nan,'n','na','missing'],
     
     'age': [30,35,31,np.nan,'na'],
      'email':['ass@gmail.com','abc@gmail.com',np.nan,'nan','missing'] }

In [0]:
rdf=DataFrame(emp)

In [0]:
rdf

     ename  age          email
0        r   30  ass@gmail.com
1      NaN   35  abc@gmail.com
2        n   31            NaN
3       na  NaN            nan
4  missing   na        missing

In [0]:
rdf.dropna(axis='index',how='any')## axis=columns,how=all

     ename age          email
0        r  30  ass@gmail.com
4  missing  na        missing

In [0]:
rdf.replace('na',np.nan,inplace=True)

In [0]:
rdf.replace('missing',np.nan,inplace=True)

In [0]:
rdf

  ename   age          email
0     r  30.0  ass@gmail.com
1   NaN  35.0  abc@gmail.com
2     n  31.0            NaN
3   NaN   NaN            nan
4   NaN   NaN            NaN

In [0]:
rdf.dropna(axis='index',how='any',subset=['age'])##fillna('missing')

  ename   age          email
0     r  30.0  ass@gmail.com
1   NaN  35.0  abc@gmail.com
2     n  31.0            NaN

In [0]:
rdf.isna()

   ename    age  email
0  False  False  False
1   True  False  False
2  False  False   True
3   True   True  False
4   True   True   True

In [0]:
rdf.dtypes

ename     object
age      float64
email     object
dtype: object

In [0]:
rdf['age'].mean()

32.0

In [0]:
eage={'age': ['30','35','31',np.nan,'na']}

In [0]:
tc=DataFrame(eage)
tc['age'].replace('na',0,inplace=True)
tc['age']=tc['age'].astype(float)

In [0]:
tc['age'].mean()

24.0

In [0]:
tc['age'].unique()

array([30., 35., 31., nan,  0.])

In [0]:
import datetime
dti = to_datetime(['1/1/2018', np.datetime64('2018-01-01'),
                         datetime.datetime(2018, 1, 1)])

In [0]:
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [0]:
day = Timestamp('2020-04-27')

In [0]:
day.day_name()

'Monday'

In [0]:
n=day+Timedelta('1 Day')

In [0]:
n.day_name()

'Tuesday'